<div class="blog-intro {{ page.color }}">
  <div>
    <h1>{{ page.heading }}</h1>
    <p>you have found yet another learning space in this universe where you got a chance to learn something useful along with me. come let's learn & explore the world together 😇</p>
  </div>
  <div class="home-follow-wrapper">
	  <div class="home-follow">
	    <script async defer src="https://buttons.github.io/buttons.js"></script>
	    <a href="https://twitter.com/gogul_ilango?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="true">Follow @gogul_ilango</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	    <a class="github-button" href="https://github.com/Gogul09" data-show-count="true" data-size="large" aria-label="Follow @Gogul09 on GitHub">Follow</a>
	  </div>
	</div>
</div>