$selection_bg : #c7252c;
$selection_fg : #ffffff;

// classics
$black: #000;
$white: #fff;

// navigation colors
$nav_500 : #21232c;
$nav_700 : #1a1c22;

// primary colors
$primary_500 : #5e3d74;
$primary_700 : #3e2a4a;

// accent colors
$accent_500 : #ffcc00;
$accent_700 : #e8ba00;

// text grays
$darkerGray   : #222;
$text_500     : #333;
$gray         : #666;
$lightGray    : #eee;
$bgGray       : #f7f7fa;

$logo_red   : #ec3b3b;
$logo_blue  : #4387f9;
$logo_green : #47af63;
$logo_yellow: #f5ca4c;
$logo_gray  : #e5e5e5;