nav {
  font-family: $font_body;
  font-size: 13px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 3px;
  @include mobile {
    float: none;
    display: block;
    line-height: 2.5;
    text-align: center;
    padding-top: 0px;
    font-size: 12px;
  }

  a {
    margin: 20px;
    color: #fff !important;
    text-align: right;
    font-weight: 100;
    letter-spacing: 1px;
    font-family: "Source Sans Pro";
    text-transform: uppercase;

    &:hover, &:active {
       color: rgba(255,255,255,0.6) !important;
       text-decoration: none;
    }

    @include mobile {
      margin: 0 10px;
      margin-right: 0px;
    }
  }
}

.splashnav {
  background-color: transparent;
  text-align: right;
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  @include mobile {
    flex: initial;
    width: 100%;
  }

  div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30%;
    margin: auto;
    text-align: right;
    margin-right: 0px;

    @include mobile {
      position: initial;
    }
  }
  .header-left-splash {
    width: 40% !important;
  }
  .header-right {
    width: 60% !important;
  }
}

.splashnav a {
  color: #2f2f2f !important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  margin: 0px 12px;
  @include mobile {
    flex: 1;
    padding: 25px 0;
    margin: 0px;
  }
}

.splashnav a:hover {
  color: $logo_red !important;
}

.splashnav .icon {
  display: none;
}

/*
@media screen and (max-width: 600px) {
  .splashnav a {display: none;}
  .splashnav a.icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .splashnav.responsive {
    position: absolute;
    right: 20px;
    top: 7px;
    width: 120px;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.12), inset 0 -1px 0 0 #dadce0;
  }
  .splashnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .splashnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: black !important;
  }
}
*/

.header-left-splash {
  @include mobile {
    flex: 1;
    display: flex;
  }
}

.header-left-splash a {
  margin: 0;
  margin-top: 0px !important;
  text-align: left;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.header-left-splash img {
  width: 50px;
  padding: 5px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  @include mobile {
    width: 40px;
  }
}

.header-left-splash img:hover {
  transform: scale(1.2); 
}

.header-left-splash h1 a {
  color: #fff !important;
  width: 60%;
  margin: 0px auto;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 40px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover, &:active {
    text-decoration: none;
    transform: scale(1.1);
  }
  span:nth-child(1) {
    color: #373737 !important;
  }
  span:nth-child(2) {
    color: #373737 !important;
  }
  span:nth-child(3) {
    color: #373737 !important;
  }
  span:nth-child(4) {
    color: $logo_red !important;
  }
  span:nth-child(5) {
    color: #373737 !important;
  }
}
