.splash-container {
	width: 100%;
	height: 100vh;
	background-color: #ffffff !important;
}

.splash-main {
    background-color: #ffffff;
    @include mobile {
    	margin-bottom: 64px !important;
	}
}

.splash-wrapper {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
	margin: 0px auto;
	background-color: #ffffff;
    border-radius: 4px;
	@include mobile {
		padding: 20px;
		width: 100%;
	}
}

.splash-header {
	background-color: $white !important;
	@include mobile {
		background-color: $white !important;
		background-image: none !important
	}
}

.splash-header a {
	color: $white !important;
}

.splash-wrapper h1 {
	margin: 0 !important;
    font-size: 2em;
    color: #000;
    font-family: 'Roboto', sans-serif;
    @include mobile {
    	font-size: 1.5em;
    }
}

.splash-wrapper p {
    text-align: center;
    color: #000;
    @include mobile {
    	font-size: 12px;
	}
}

.splash-social {
	background-color: transparent !important;
}

.splash-social a:hover {
	border-bottom: 0px !important;
}

.splash-medium-para {
	margin: 0px !important;
    font-size: 1em;
}

.splash-wrapper hr {
	border-top: 1px solid #ffffff1a;
	width: 100%;
}

.splash-follow {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    align-items: center;
}

.profile-pic {
	width: 30% !important;
}

.profile-wrapper {
	display: flex;
	flex-direction: column;
	@include mobile {
		flex-direction: row;
	}
}

.profile-pic img {
	height: 140px;
	border-radius: 50%;
	@include mobile {
		height: 90px;
	}
}

.profile-description {
	flex: 1;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-description p {
	@include mobile {
    	font-size: 11px !important;
	}
}