<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} – {{ site.name }} {% else %}{{ site.name }} - {{ site.subheading }} {% endif %}</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:200,400|Roboto:300|Muli" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/images/favicon_gi.png"/>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes"/>
  
  {% include meta.html %}
  {% seo %}
  
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <meta name="theme-color" content="#1f0021" />
    <link rel="stylesheet" type="text/css" href="/externals/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body style="background-color: #e9e9e9 !important;">

    <div id="main-demo" role="main">
      {{ content }}
    </div>
     
     <button onclick="topScroller()" id="btnScrollTop" title="Go to top" class="w3-animate-bottom"></button>

     <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
     <script src="https://apis.google.com/js/platform.js"></script>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
     <script id="dsq-count-scr" src="//gogul09.disqus.com/count.js" async></script>
     <script src="/js/custom.js"></script>
     {% include analytics.html %}

   </body>
   </html>
