<!DOCTYPE html>
<html>
<head>
  <title>{% if page.title %}{{ page.title }} – {{ site.name }} {% else %}{{ site.name }} - {{ site.subheading }} {% endif %}</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:200,400|Roboto:300" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="/images/favicon_gi.png"/>

  <meta name="viewport" content="width=device-width, initial-scale=.5, maximum-scale=12.0, minimum-scale=.25, user-scalable=yes"/>

  {% include meta.html %}
  {% seo %}

  <!--
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
       (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1792372637327333",
            enable_page_level_ads: true
       });
  </script>
  -->
  
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lte IE 8]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
    <meta name="theme-color" content="#1f0021" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="outer-wrapping">
      <div class="inner-container">
          <div class="menu-icon" onclick="openSideNav()">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="header-left doc-header-left">
            <a class='logo' href="https://gogul09.github.io/"><img src="/images/icons/logo.png"/></a>
          </div>
          <div class="topnav header-right" id="top_navigator">
            <a title="home" id = "nav_home" href="{{ site.baseurl }}/"></a>
            <a title="creations" id = "nav_creations" href="{{ site.baseurl }}/creations"></a>
            <a title="music" id = "nav_music" href="{{ site.baseurl }}/music"></a>
            <a title="photography" id = "nav_photography" href="{{ site.baseurl }}/photography"></a>
            <a title="about" id = "nav_about" href="{{ site.baseurl }}/about"></a>
            <a href = "javascript:void(0);" style="font-size:14px;" class="icon" onclick="top_navigation()">&#9889;</a>
          </div>
      </div>
    </div>

    <div id="main" role="main">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <footer class="footer">
        <p><span>&copy; 2019 - gogul ilango | opinions are my own</span></p>
       </footer>
     </div>
     
     <button onclick="topScroller()" id="btnScrollTop" title="Go to top" class="w3-animate-bottom"></button>

     <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
     <script src="https://apis.google.com/js/platform.js"></script>
     <script async defer src="https://buttons.github.io/buttons.js"></script>
     <script id="dsq-count-scr" src="//gogul09.disqus.com/count.js" async></script>
     <script src="/js/custom.js"></script>
     {% include analytics.html %}

   </body>
   </html>
